@use '../../theme/palette.scss';

$sectionMargin: 40px;

.sidebar {
	width: 302px;
}

.field {
	margin-top: $sectionMargin;
	width: 304px;
}

.button {
	width: 146px;
}

.buttons {
	display: flex;
	margin-top: 10px;
	justify-content: space-between;
}

.letter {
	&:hover {
		cursor: pointer;
	}
}

.searchInput {
	margin-top: $sectionMargin;
}

.activePlayerLabel {
	display: block;
	color: var(--color-grey-600);
	line-height: 12px;
	font-size: 10px;
	margin-top: 4px;
}
