@use '../../theme' as *;

.container {
	display: flex;
	max-width: $step * 100;
	margin: 0 auto;
	flex-direction: column;
	gap: $step * 2;
	text-align: center;
}

.illustration {
	width: $step * 50;
	height: $step * 50;
	margin: 0 auto;
}

.header {
	@include font($variant: 'words');
}

.text {
	&::before {
		display: inline-block;
		content: '';
		width: 1em;
		height: 1em;
		background: url('./assets/book.svg') no-repeat;
	}
}
