@use '../../theme' as *;

.wrapper {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

.inputWrapper {
	display: flex;
	padding: 7px 10px;
	border: 1px solid var(--color-grey-400);
	border-radius: var(--border-radius);
	cursor: pointer;

	&.invalid {
		border-color: var(--color-red-600);
	}

	&[disabled] {
		border-color: var(--color-grey-200);
		color: var(--color-grey-500);
		cursor: default;
	}
}

.input {
	box-sizing: border-box;
	width: 100%;
	min-height: 24px;
	background-color: var(--color-white);
	padding: 2px var(--padding-horizontal-text-field);
	color: var(--color-grey-700);
	@include font($variant: 'regular');
	white-space: nowrap;
	border: none;

	&:focus {
		outline: none;
	}
}

.label {
	padding: 0 var(--padding-horizontal-text-field);
	text-align: left;
	@include font($variant: 'label');

	&.disabled {
		color: var(--color-grey-500);
	}

	&.invalid {
		color: var(--color-red-600);
	}
}