.game {
    display: flex;
    gap: 36px;
    margin: 50px;
    user-select: none;
}

.droppable {
    width: 140px;
    height: 140px;
}

 // [DEBUG] this is for debug only
.container {
    width: 400px;
    position: absolute;
    inset: 0;
    place-self: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 8px;
}

.item {
    width: 100%;
}