@import './mixins.scss';

$step: 4px;

:global {
	.default-focusable {
		&:focus {
			box-shadow: 0 0 0 4px #0075d226;
			outline: none;
		}
	}
	.default-focusable-invalid {
		&:focus {
			box-shadow: 0 0 0 4px #d31d1d26;
		}
	}

	.focused {
		box-shadow: 0 0 0 4px #0075d226;
		outline: none;
	}

	.invalid {
		box-shadow: 0 0 0 4px #d31d1d26;
	}
}

:root {
	--gap: 5px;
	--border-radius: 5px;

	--padding-horizontal-text-field: 10px;
}
