@mixin font($variant: 'regular', $font-weight: 400) {
	@if $variant == 'regular' {
		font:
			$font-weight 12px/16px Arial,
			Helvetica,
			sans-serif;
	} @else if $variant == 'timers' {
		font:
			$font-weight 24px/24px 'Roboto Mono',
			monospace;
	} @else if $variant == 'letters' {
		font:
			900 24px/24px Inter,
			sans-serif;
	} @else if $variant == 'words' {
		font:
			900 16px/20px Inter,
			sans-serif;
	} @else if $variant == 'numbers' {
		font:
			$font-weight 12px/16px 'Roboto Mono',
			monospace;
	} @else if $variant == 'labels' {
		font:
			400 10px/12px Arial,
			Helvetica,
			sans-serif;
	} @else if $variant == 'scores' {
		font:
			400 8px/12px Arial,
			Helvetica,
			sans-serif;
	} @else if $variant == 'prices' {
		font:
			400 8px/6px Arial,
			Helvetica,
			sans-serif;
	} @else if $variant == 'bonus-price' {
		font:
			900 20px/15px Inter,
			sans-serif;
	} @else if $variant == 'bonus' {
		font:
			400 6px/5px Inter,
			sans-serif;
	}

	@if $variant == 'letters' or $variant == 'words' {
		text-transform: uppercase;
	}

	@if $variant == 'words' {
		letter-spacing: 1.6px;
	}
}
