:root {
	--color-white: #fff;
	--color-black: #000;

	--color-blue-100: #bdf6ff;
	--color-blue-200: #8ee8ff;
	--color-blue-300: #5fd5ff;
	--color-blue-400: #2fbcff;
	--color-blue-500: #019eff;
	--color-blue-600: #0075d2;
	--color-blue-700: #0052a6;
	--color-blue-800: #003579;
	--color-blue-900: #001d4c;

	--color-green-100: #ecfcd4;
	--color-green-200: #cdf99a;
	--color-green-300: #a9ed6a;
	--color-green-400: #83dc43;
	--color-green-500: #60c128;
	--color-green-600: #3c9316;
	--color-green-700: #22650c;
	--color-green-800: #114207;
	--color-green-900: #092c04;

	--color-violet-100: #e3e2ff;
	--color-violet-200: #ceccff;
	--color-violet-300: #b9b5ff;
	--color-violet-400: #a69fff;
	--color-violet-500: #9288ff;
	--color-violet-600: #6c5ed3;
	--color-violet-700: #4a3ca8;
	--color-violet-800: #2f217c;
	--color-violet-900: #1a0f51;

	--color-yellow-100: #fff3d5;
	--color-yellow-200: #ffe4ac;
	--color-yellow-300: #ffd183;
	--color-yellow-400: #fbb758;
	--color-yellow-500: #e18e2f;
	--color-yellow-600: #ac5f14;
	--color-yellow-700: #803d07;
	--color-yellow-800: #5c2704;
	--color-yellow-900: #3a1602;

	--color-red-100: #ffe5d3;
	--color-red-200: #ffbe9f;
	--color-red-300: #ff9876;
	--color-red-400: #ff6b4d;
	--color-red-500: #ff402f;
	--color-red-600: #d31d1d;
	--color-red-700: #a7121e;
	--color-red-800: #7b0b1e;
	--color-red-900: #4f0618;

	--color-grey-100: #e8fcff;
	--color-grey-200: #d0e4ea;
	--color-grey-300: #b7cdd4;
	--color-grey-400: #9cb4bf;
	--color-grey-500: #7d99aa;
	--color-grey-600: #597489;
	--color-grey-700: #405469;
	--color-grey-800: #2d3949;
	--color-grey-900: #1d2129;

	--color-pink: #ffcccc;
	--color-azure: #cce0ff;
	--color-beige: #ffebcc;
	--color-mint: #def0cc;

	--color-dusty-pink: #e6a3a3;
	--color-dusty-azure: #a3bbe6;
	--color-dusty-beige: #e6c9a3;
	--color-dusty-mint: #b8daa3;
}
